* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', 'sans-serif';
  font-size: 16px;
  color: #fff;
}

@font-face {
  font-family: 'Milkshake';
  src: url('../fonts/Milkshake.eot');
  src: url('../fonts/Milkshake.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Milkshake.woff2') format('woff2'),
      url('../fonts/Milkshake.woff') format('woff'),
      url('../fonts/Milkshake.svg#Milkshake') format('svg');
  font-weight: normal;
  font-style: normal;
}